* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
h1 {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
h2 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
h4 {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}
p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1460px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.btn_primary {
  background: #e55473;
  padding: 20px 43px;
  border-radius: 8px;
  color: #fff;
  border: 2px solid transparent;
  outline: 0;
  cursor: pointer;
  font-weight: 700;
}
.btn_primary:hover {
  background: transparent;
  color: #e55473;
  border: 2px solid #e55473;
}
/* Banner style */
.banner {
  height: 100vh;
  background: rgba(229, 84, 115, 0.1);
}
.banner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner h1 {
  max-width: 708px;
}
.banner p {
  max-width: 634px;
  margin: 32px 0;
}
.banner_col {
  height: 100vh;
  align-items: flex-end;
  display: flex;
}
.banner_col img {
  display: block;
  height: auto;
}

/* Our feture  */

.featured {
  text-align: center;
  margin-top: 178px;
  margin-bottom: 128px;
}
.featured p {
  max-width: 594px;
  margin: 0 auto;
}
.featued_flower {
  display: flex;
  gap: 24px;
  margin-top: 48px;
  align-items: center;
  justify-content: space-between;
}
.flower_three,
.flower_one,
.flower_two {
  width: 464px;
  height: 538px;
  padding: 110px 75px 0 75px;
  border-radius: 300px 300px 0px 0px;
}
.flower_one {
  background: rgba(167, 33, 98, 0.15);
}
.flower_two {
  background: rgba(5, 151, 160, 0.15);
}
.flower_three {
  background: rgba(71, 125, 17, 0.15);
}
.flower_item .flower_three img {
  display: block;
  height: 100%;
}
.flower_item h4 {
  margin-top: 32px;
  text-decoration: underline;
}
